/*Global*/

$color-main: #718093;
$font-text: 'Josefin Sans', sans-serif;
$font-header: 'Open Sans', sans-serif;

*, *::before, *::after {
	box-sizing: border-box;
}

/*Global*/

/*Navigation*/

/*splash*/

